/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --white-color: #fff;
  --bg-color: #fff;
  --gray-color: #ccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #ac0505;
  padding: 15px 20px;
  font-size: 25px;
  background: rgba(64, 112, 244, 0);
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  min-height: 100vh;
  z-index: 100;
  background: #e7f2fd;
}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}


  /*----------------IMAGES--------------- */
  .cpu {
    max-width: 60%; 
      height: auto; 
      border: 4px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .fcfspic {
      max-width: 50%; 
      height: auto; 
      border: 4px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .fcfsavg{
      max-width: 50%; 
      height: auto; 
      border: 4px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    /*------------------TEXTS----------------*/
  .wrappper {
    margin-top: 100%;
    margin: 150px;
    max-width: 70%;
  }
  .cpu-text{
    color: black;
    margin-top: 50%;
    margin: 150px;
    max-width: 70%;
  }
  .cpu-text h1{
    font-size: 50px;
    margin-bottom: 25px;
    font-family: 'Monaco', monospace;
  }
  .cpu-text p {
    font-size: 20px;
    font-family: 'Monaco', monospace;
  }

  .cpu-text h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-family: 'Monaco', monospace;
  }

  .cpu-text h5 {
    font-size: 17px;
    font-family: 'Monaco', monospace;
    padding-bottom: 15px;
  }

  .cpu-text h4 {
    font-size: 30px;
    font-family: 'Monaco', monospace;
  }

  #paragraph {
    font-family: 'Monaco', monospace;
  }
  .steps{
    font-size: 17px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  
  